

@media (max-width: 1100px) {
    .atividades {
        margin-top: 0;
        padding: 2rem 1.5rem 3.625rem;
    }
}

@media (max-width: 744px) {
    .atividades {
        padding: 2rem 1rem 3rem;
    }
}