.home {
    padding: 2rem 2rem; 
    background: rgb(111,111,111);
    background: linear-gradient(0deg, rgba(111,111,111,1) 0%, rgba(189,189,189,1) 0%, rgba(198,198,198,1) 20%, rgba(255,255,255,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.apresentacao {
    text-align:center;
    padding:2rem;
}

.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.subtitulo {
    color: red;
    font-size: 35px;
}


.lista-icons{
    margin-top: 3rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;

}

.icons{
    padding-bottom: 1rem;
    font-size:22px;
}

.imagens {
    display:flex;
    justify-content:center;
    align-items:center;

}

.minhaFoto {
    right: 0;
    bottom: 0;
    width: 18vw;
    border-radius: 50%;
}



@media (max-width: 1224px) {    


    .titulo {
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 3rem;
    }


    .lista-icons{
        display:flex;
        flex-direction: column;
        align-items: flex-start
    
    }
    
    .icons{
        padding-bottom: 1rem;
        font-size:20px;
    }
    

    .imagens > .minhaFoto {
        width: 20vw;
    }
}


@media (max-width: 1109px) {    


    .titulo {
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: 2.6rem;
    }

    .apresentacao {
        text-align:center;
        padding:1.5rem
    }

    .lista-icons{
        display:flex;
        flex-direction: column;
        align-items: flex-start
    
    }
    
    .icons{
        padding-bottom: 1rem;
        font-size:20px;
    }
    

    .imagens > .minhaFoto {
        width: 20vw;
    }
}


@media (max-width: 905px) {    

    
    .titulo {
        margin-top: 4rem;
        margin-bottom: 0.8rem;
        font-size: 2.1rem;
    }

    .subtitulo {
        font-size: 28px
    }

    .lista-icons{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-content:center
    
    }
    
    .icons{
        padding-top: 1rem;
        padding-right: 1rem;
        font-size:20px;
    }
    



    .imagens > .minhaFoto {
        width: 25vw;
    }

}



@media (max-width: 750px) {
    .home {
        padding: 2rem 1rem;
        display: block;
    }



    .titulo {
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 2.3rem;
    }

    .subtitulo {
        margin-bottom: 2rem;
    }

    .lista-icons{
        display:flex;
        flex-direction: row;
    
    }
    
    .icons{
        padding-bottom: 1rem;
        font-size:20px;
    }
    

    .imagens {
        height: 250px;
    }


    .imagens > .minhaFoto {
        width: 200px;
    }


}


@media (max-width: 460px) {


    .titulo {
        margin-top: 4rem;
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }

    .subtitulo {
        font-size:25px
    }

    .lista-icons{
        display:flex;
        flex-direction: row;
    
    }
    
    .icons{
        padding-bottom: 1rem;
        font-size:20px;
    }
    

    .imagens {
        padding:0rem 3rem 
    }

    .imagens > .minhaFoto {
        width: 180px;
    }


}


@media (max-width: 360px) {

    .apresentacao {
        padding:0.1rem;
    }

    .titulo {
        margin-top: 4rem;
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }

    .subtitulo {
        font-size:22px
    }

    .lista-icons{
        display:flex;
        flex-direction: row;
    
    }
    
    .icons{
        padding-bottom: 1rem;
        font-size:20px;
    }


    .imagens > .minhaFoto {
        width: 160px;
        margin: 1rem;
    }


}

@media (max-width: 320px) {
    .titulo{
        font-size:1.7rem
    }
}
