.sobre {
    padding: 2rem 7.5rem 2.25rem;
    background: rgb(111,111,111);
    background: linear-gradient(0deg, rgba(111,111,111,1) 0%, rgba(189,189,189,1) 0%, rgba(198,198,198,1) 20%, rgba(255,255,255,1) 100%);
    color: var(--azul-escuro);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.paragrafo {
    font-family: var(--fonte-secundaria);
    text-align: justify;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.tec {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size:1rem;
    margin-bottom: 4rem;
}

.divft{
    display:flex;
    justify-content:center
}

.logo{
    width: 40px;
    margin-top: 1rem;
    margin-right: 1rem
}

ul li{
    padding: 5px;
}

@media (max-width: 1100px) {    
    .sobre {
        padding: 3.5rem 1.5rem;
    }

    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .paragrafo {
        margin-bottom: 1.5rem;
    }

   

}

@media (max-width: 744px) {
    .sobre {
        padding: 2rem 0.2rem;
        display: block;
    }

    .titulo {
        margin-bottom: 2rem;
    }

    .paragrafo {
        margin-bottom: 2rem;
    }

}